@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  &__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}