@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
	overflow: hidden;
  &__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
	}
}

.ice {
	position: absolute;
	z-index: 10;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&-1 {
		width: 200px;
		height: 200px;
		top: 120px;
		left: -80px;
	}
	&-2 {
		width: 170px;
		height: 170px;
		top: 120px;
		right: 80px;
	}
	&-3 {
		width: 230px;
		height:	230px;
		bottom: 90px;
		left: 60px;
	}
	&-4 {
		width: 135px;
		height: 135px;
		bottom: 40px;
		left: calc(50% - 68px);
	}
	&-5 {
		width: 400px;
		height: 400px;
		right: 0;
		bottom: 0;
	}
}

.product-item {
	background: radial-gradient(128.51% 128.51% at 50% 50%, #636A7C 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__badge {
		position: absolute;
		right: 0;
		top: 0;
		color: $blueColor;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 0 0 0 20px;
		padding: 10px 30px;
		background: $whiteColor;
	}

	&__main {
		& span {
			margin-bottom: 15px;
			max-width: 57%;
			display: block;
			font-size: 16px;
			line-height: 1.7;
		}
	}

	&__title {
		margin-bottom: 20px;
		max-width: 70%;
	}

	&__price {
		font-size: 25px;
		line-height: 1.2;
	}

	&__image {
		width: 320px;
		height: 320px;
		position: absolute;
    right: -32%;
    bottom: -40%;
	}
	&__order {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: scale(0);
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(81, 92, 193, 0.8);
		opacity: 0;
		@include transition(.4);
		border-radius: 20px;
	}
	&:hover {
		& .product-item__order {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.home-about {
	&__text {
		width: 52%;
		margin-right: 30px;
		& h3 {
			@include fontSize(20, 30);
			line-height: 1.1;
			margin-bottom: 5px;
		}
		& p {
			margin-bottom: 20px;
			@include fontSize(18, 20);
			line-height: 1.5;
		}
	}
	&__media {
		border-radius: 20px;
		overflow: hidden;
		width: 45%;
	}
}
.media {
	position: relative;
	& a {
		display: block;
		&:before {
			content: '';
			position: absolute;
			background: url('../img/play.png');
			background-repeat: no-repeat;
			background-size: 20%;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-position: center;
			z-index: 2;
			@include transition(.3);
		}
		&:hover {
			&:before {
				transform: scale(1.1);
			}
		}
	}
	&-description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}

.grid {
	max-width: 100%;
	margin: 0 15px;
	&.active {
		display: block;
	}
}

.grid-sizer,
.grid-item {
	width: 32.1%;
	margin-bottom: 96px;
}
.grid-item {
	float: left;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	&.image, &.instagram {
		& a:before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;	
			background-size: cover;
			display: block;
			width: 48px;
			height: 48px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 12;
			opacity: 0;
			@include transition(.3);
		}
	}
	&.image {
		& a:before {
			background-image: url('../img/icons/gallery-zoom-in.svg');
		}
	}
	&.instagram {
		& a:before {
			background-image: url('../img/icons/gallery-instagram.svg');
		}
	}
	&.image, &.instagram {
		&:hover {
			& a:before {
				opacity: 1;
			}
		}
	}
	& a {
		display: block;
	}
	& img {
		display: block;
		max-width: 100%;
	}
	&__description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}
