@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  // @include fontSize(60, 160);
  font-size: 160px;
  line-height: 1.1;
}

.heading-2 {
  @include fontSize(40, 100);
  line-height: 1;
}

.heading-3 {
  @include fontSize(25, 55);
  line-height: 1.2;
}

.heading-4 {
  @include fontSize(20, 30);
  line-height: 1.1;
}

.heading-5 {
  @include fontSize(18, 20);
  line-height: 1.5;
}

.heading-6 {
  @include fontSize(16, 16);
  line-height: 1.5;
}


.page-title {
  background-image: url("../img/text-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  // z-index: -1;
  // pointer-events: none;
}

.icon-icon-arrow:before {
  content: "\e900";
  color: #fff;
}
.icon-icon-facebook:before {
  content: "\e901";
  color: #fff;
}
.icon-icon-instagram:before {
  content: "\e902";
  color: #fff;
}
